<configs>
	<printer
		name = ""
		paper_size = ""
		ppi = "300"
		show_dialog = "false"
		brightness = "0"
		contrast = "0"
		saturation = "0"
		hue = "0"
		printerLoadType = "0"
		rotation = "0"
		scaleX = "100"
		scaleY = "100"
		/>
		<!-- 0 para levantar todas, 1 levantar las de "Names", 2 para filtrar por "Filter" -->
	
	
	<Names>
		<Name>HP LaserJet P2014n en RODOCROSITA</Name>
		<Name>HP LaserJet P2055dn UPD PCL 6</Name>
		<Filter>MITSUBISHI</Filter>
	</Names>
	<general
		port = "9000"
		ip = "127.0.0.1"
		bypassId = "0"
		calidad_jpg = "90"
		copias_seguidas = "2"
	/>
</configs>
<!-- Bypass Server identifier: "printer" -->
<!-- Bypass Server tag: "tool" -->
